<div id="container-top">
  <a id="back" routerLink="/menu">
    <p class="text-back">&lt;</p>
    <p class="text-back">Retour</p>
  </a>
  <h1>{{ Saveur }}</h1>
</div>
<!-- <div id="container-box">
  <div *ngFor="let item of data" class="testtest">
    <div *ngFor="let aliment of item.saveurs">
      <div *ngIf="aliment.nom == GetMySaveur()">
        <a href="https://www.youtube.com">
          <img src="https://guillard.alwaysdata.net/Sushi-taimu/Plat/{{
              item.image
            }}.png" alt="box-{{ item.nom }}" class="img-box" />
        </a>
        <div class="name">{{ item.nom }}</div>
        <div class="price">{{ item.prix }} €</div>
        <button (click)="add(item.nom)" class="button-add">+</button>
      </div>
    </div>
  </div>
</div> -->
<div (click)="open()" id="cart">
  <img src="../../../assets/icon/cart.svg" alt="panier" />
  <p>{{ GetPanier() }}</p>
</div>
<div class="container-box">
  <div *ngFor="let item of data">
    <div *ngFor="let aliment of item.saveurs" class="mini-container">
      <div *ngIf="aliment.nom == GetMySaveur()" class="container-info">
        <a routerLink="/Mon-produit" (click)="ProduitSelected(item.nom)">
          <img
            src="https://guillard.alwaysdata.net/Sushi-taimu/Plat/{{
              item.image
            }}.png"
            alt="box-{{ item.nom }}"
            class="img-box"
          />
        </a>
        <div class="name">{{ item.nom }}</div>
        <div class="price">{{ item.prix }} €</div>
        <button (click)="add(item.nom, item.prix)" class="button-add">+</button>
      </div>
    </div>
  </div>
</div>
