nav {
    display: flex;
    justify-content: center;
    height: 12.5%;
}

nav a {
    text-align: center;
    padding-top: 1%;
    height: 100%;
    width: fit-content;
}

img {
    width: 50%;
    height: 100%;
}

@media screen and (max-width: 1080px){
    nav a img{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    nav a img {
        max-width: 60% !important;
    }
}

@media screen and (max-height: 500px) {

    nav a img {
        max-width: 40% !important;
    }
}