footer{
    margin-top: 2em;
    background: #333;
    z-index: 5;
    position: relative;
    padding: 0.5em 0;
    display: grid;
    justify-content: center;
    align-items: center;
}

footer a {
    margin: 0 auto;
    text-decoration: none;
    color: #FEF0E0;
}