<div id="container-top">
  <a id="back" routerLink="/menu">
    <p class="text-back">&lt;</p>
    <p class="text-back">Retour</p>
  </a>
  <h1>Boisson</h1>
</div>
<div (click)="open()" id="cart">
  <img src="../../../assets/icon/cart.svg" alt="panier" />
  <p>{{ GetPanier() }}</p>
</div>
<div class="container-box">
  <div *ngFor="let item of data">
    <div class="mini-container">
      <a routerLink="/Mon-produit" (click)="ProduitSelected(item.nom)">
        <img
          src="https://guillard.alwaysdata.net/Sushi-taimu/Plat/{{
            item.image
          }}.png"
          alt="box-{{ item.nom }}"
          class="img-box"
        />
      </a>
      <div class="name">{{ item.nom }}</div>
      <div class="price">{{ item.prix }} €</div>
      <button (click)="add(item.nom, item.prix)" class="button-add">+</button>
    </div>
  </div>
</div>
