<div id="container_panier">
  <section id="bg"></section>
  <section id="panier">
    <article id="fond"></article>
    <article id="content">
      <div id="container-top-top">
        <div id="container-top">
          <h2>Panier</h2>
          <img id="cross" (click)="close()" src="../../../assets/icon/close.svg" alt="close" />
        </div>
      </div>
      <div id="containerAll-product">
        <div class="container-product" *ngFor="let item of Malister">
          <div class="container-img">
            <img src="https://guillard.alwaysdata.net/Sushi-taimu/Plat/{{
              item.image
            }}.png" />
          </div>
          <div class="container-info">
            <p class="name">{{ item.nom }}</p>
            <p class="price">{{ item.prix }} €</p>
            <div class="manage">
              <p class="button-minus" (click)="down(item.nom)">-</p>
              <p class="quantity">{{ item.quantite }}</p>
              <p class="button-plus" (click)="up(item.nom)">+</p>
            </div>
          </div>
        </div>
      </div>
      <div id="container-total">
        <div>
          <div class="bg-total"></div>
          <div id="mini-cont-total">
            <div id="total">
              <div>
                <p>Total</p>
                <p>({{ quantite() }} articles)</p>
              </div>
              <p>{{ recupsomme().toFixed(2) }} €</p>
            </div>
            <div id="container-button">
              <p id="annule" (click)="annulation()">Annuler</p>
              <p id="passeComm" (click)="confirmation()">Passer commande</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>

<div id="msgAnnul">
  <div>
    <div class="bgConfirm"></div>
    <div class="container-confirm">
      <p>Etes vous sur de vouloir annuler la commande ?</p>
      <div class="containerBuConf">
        <p (click)="annulConfAnnu()" class="annBu">Annuler</p>
        <p (click)="clear()" class="confBu">Confirmer</p>
      </div>
    </div>
  </div>
</div>

<div id="msgComm">
  <div>
    <div class="bgConfirm"></div>
    <div class="container-confirm">
      <p>Etes vous sur de vouloir finaliser la commande ?</p>
      <div class="containerBuConf">
        <p (click)="annulConfAnnu()" class="annBu">Annuler</p>
        <p (click)="SubmitComande()" class="confBu">Confirmer</p>
      </div>
    </div>
  </div>
</div>