<div id="container-top">
  <a id="back" routerLink="/menu">
    <p class="text-back"><</p>
    <p class="text-back">Retour</p>
  </a>
  <h1>Saumon</h1>
</div>
<div id="container-box">
  <div *ngFor="let item of data">
    <div *ngFor="let aliment of item.saveurs">
      <div *ngIf="aliment.nom == 'saumon'">
        <a href="https://www.youtube.com">
          <img src="https://guillard.alwaysdata.net/Sushi-taimu/Plat/{{item.image}}.png" alt="box-{{item.nom}}"
            class="img-box">
        </a>
        <div class="name">{{ item.nom }}</div>
        <div class="price">{{ item.prix }} €</div>
        <button (click)="add(item.nom)" class="button-add">+</button>
      </div>
    </div>
  </div>
</div>
<a href="" id="cart">
  <img src="../../../assets/icon/cart.svg" alt="panier" />
  <p>0</p>
</a>