<section id="container-menu">
    <article class="menu-sushi">
        <a href="" class="div1">
            <div>
                <p class="menu-name">Saumon</p>
            </div>
        </a>
        <a href="" class="div2">
            <div>
                <p class="menu-name">Sushi</p>
            </div>
        </a>
        <a href="" class="div3">
            <div>
                <p class="menu-name">Spring Rolls</p>
            </div>
        </a>
        <a href="" class="div4">
            <div>
                <p class="menu-name">Boisson</p>
            </div>
        </a>
        <a href="" class="div5">
            <div>
                <p class="menu-name">Maki</p>
            </div>
        </a>
        <a href="" class="div6">
            <div>
                <p class="menu-name">Thon</p>
            </div>
        </a>
        <a href="" class="div7">
            <div>
                <p class="menu-name">Avocat</p>
            </div>
        </a>
        <a href="" class="div8">
            <div>
                <p class="menu-name">California Rolls</p>
            </div>
        </a>
    </article>
</section>
<a href="" id="cart">
    <img src="../../../assets/icon/cart.svg" alt="panier">
    <p>0</p>
</a>