<section id="container-menu">
  <article class="menu-sushi">
    <a routerLink="/saveurs" class="div1" (click)="Saveurs('saumon')">
      <div>
        <p class="menu-name">Saumon</p>
      </div>
    </a>
    <a routerLink="/composition" class="div2" (click)="composition('Sushi')">
      <div>
        <p class="menu-name">Sushi</p>
      </div>
    </a>
    <a routerLink="/composition" class="div3" (click)="composition('Springs Rolls')">
      <div>
        <p class="menu-name">Spring Rolls</p>
      </div>
    </a>
    <a href="" class="div4">
      <div>
        <p class="menu-name">Boisson</p>
      </div>
    </a>
    <a routerLink="/composition" class="div5" (click)="composition('Maki')">
      <div>
        <p class="menu-name">Maki</p>
      </div>
    </a>
    <a routerLink="/saveurs" class="div6" (click)="Saveurs('thon')">
      <div>
        <p class="menu-name">Thon</p>
      </div>
    </a>
    <a routerLink="/saveurs" class="div7" (click)="Saveurs('avocat')">
      <div>
        <p class="menu-name">Avocat</p>
      </div>
    </a>
    <a routerLink="/composition" class="div8" (click)="composition('California Rolls')">
      <div>
        <p class="menu-name">California Rolls</p>
      </div>
    </a>
  </article>
</section>
<div (click)="open()" id="cart">
  <img src="../../../assets/icon/cart.svg" alt="panier" />
  <p>{{ GetPanier() }}</p>
</div>
