<section id="container-menu">
  <article class="menu-sushi">
    <a routerLink="/saveurs" class="div1" (click)="Saveurs('saumon')">
      <div>
        <p class="menu-name">Saumon</p>
      </div>
    </a>
    <a href="" class="div2">
      <div>
        <p class="menu-name">Sushi</p>
      </div>
    </a>
    <a href="" class="div3">
      <div>
        <p class="menu-name">Spring Rolls</p>
      </div>
    </a>
    <a href="" class="div4" (click)="saumon()">
      <div>
        <p class="menu-name">Boisson</p>
      </div>
    </a>
    <a href="" class="div5">
      <div>
        <p class="menu-name">Maki</p>
      </div>
    </a>
    <a routerLink="/saveurs" class="div6" (click)="Saveurs('thon')">
      <div>
        <p class="menu-name">Thon</p>
      </div>
    </a>
    <a routerLink="/saveurs" class="div7" (click)="Saveurs('avocat')">
      <div>
        <p class="menu-name">Avocat</p>
      </div>
    </a>
    <a href="" class="div8">
      <div>
        <p class="menu-name">California Rolls</p>
      </div>
    </a>
  </article>
</section>
<a href="" id="cart">
  <img src="../../../assets/icon/cart.svg" alt="panier" />
  <p>{{ GetPanier() }}</p>
</a>
