.container-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.mini-container {
  position: relative;
}

.container-info {
  width: 20vw;
}

.img-box {
  width: 100%;
}

.button-add {
  position: absolute;
  left: 50%;
  top: 60%;
  translate: -50%;
  background: #dc6157;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
  font-weight: 100;
}

.name,
.price {
  text-align: center;
}

.price {
  color: #90322b !important;
}

.name {
  font-size: 1.2em;
}

#back {
  border: 1px solid #333333;
  background: transparent;
  width: fit-content;
  margin: 2em 0;
  border-radius: 15px;
  transition: background 250ms ease-in-out;
  margin-left: 2.5%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 1em;
}

.text-back {
  color: #333333;
}

#back p:first-child {
  margin-right: 1em;
}

#back:hover {
  background: #fef0e0;
}

#container-top {
  display: flex;
  flex-direction: row;
  position: relative;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  font-size: 2.5em;
  color: #333333;
}

#cart {
  position: fixed;
  top: 85%;
  left: 92.5%;
  background: #dc6157;
  padding: 1vw 1.1vw;
  border-radius: 50% 50%;
  transition: background 300ms ease-out;
  width: 6vw;
  box-shadow: 0px 4px 28px 0px #0000004d;
  cursor: pointer;
  user-select: none;
}

#cart:hover {
  background: #90322b;
}

#cart img {
  width: 100%;
  height: 100%;
}

#cart p {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -40%;
  color: #dc6157;
  font-size: 1.25vw;
}


@media screen and (max-width: 1080px) {
  h1 {
    font-size: 4.5em;
  }

  .container-info {
    width: 35vw;
  }

  #back .text-back:last-child {
    display: none;
  }

  #back .text-back:first-child {
    margin: 0 0.5em;
    font-size: 2em;
  }

  #back {
    border-width: 3px;
  }

  #cart {
    width: 10vw;
    padding: 1.5vw 1.6vw;
    left: 85%;
    top: 92%;
  }

  #cart p {
    font-size: 2vw;
  }

  .button-add {
    top: 55%;
    width: 1.75em;
    height: 1.75em;
    font-size: 1.75em;
  }

  .name {
    font-size: 2em;
  }

  .price {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 825px) {
  .button-add {
    width: 1.6em;
    height: 1.6em;
    font-size: 1.4em;
  }

  .name {
    font-size: 1.5em;
  }

  .price {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 650px) {
  .button-add {
    width: 1.4em;
    height: 1.4em;
    font-size: 1.2em;
  }

  #cart {
    padding: 1.5vw 1.8vw;
  }
}

@media screen and (max-width: 500px) {
  .name {
    font-size: 1em;
  }

  .price {
    font-size: 0.8em;
  }

  .button-add {
    width: 1.5em;
    height: 1.5em;
    font-size: 0.8em;
  }

  h1 {
    font-size: 3em;
  }

  #back .text-back:first-child {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 0.6em;
  }

  .price {
    font-size: 0.5em;
  }

  .button-add {
    font-size: 0.6em;
  }

  h1 {
    font-size: 2em;
  }

  #back .text-back:first-child {
    font-size: 1em;
  }

  #back {
    padding: 0.5em;
    border-width: 2px;
  }
}

@media screen and (min-width: 1921px) {
  .name {
    font-size: 2em;
  }

  .price {
    font-size: 1.7em;
  }

  .button-add {
    font-size: 1.7em;
  }

  .text-back {
    font-size: 2em;
  }

  #back {
    border-width: 2px;
  }
}