<a id="back" routerLink="/menu">
    <p class="text-back">&lt;</p>
    <p class="text-back">Menu</p>
  </a>
<div>
    <h1>Politique de Confidentialité et Protection des Données Personnelles</h1>

    <h2>1. Collecte de Données Personnelles</h2>

    <p>La collecte de vos données personnelles vise à optimiser nos services. Les informations recueillies comprennent
        les noms, prénoms, adresses, mail et informations bancaires.</p>

    <h2>2. Utilisation des Données Personnelles</h2>

    <p>Les données collectées nous permettent de gérer efficacement les demandes des clients. Ainsi, elles sont traitées
        pour faciliter les transactions financières et améliorer l'expérience utilisateur.</p>

    <h2>3. Sécurité des Données</h2>

    <p>Nous mettons en place des mesures de sécurité appropriées pour protéger vos données personnelles. Cela inclut la
        sécurisation de nos systèmes et le cryptage des informations sensibles, telles que les données bancaires ou mot
        de passe.</p>

    <h2>4. Partage des Données Personnelles</h2>

    <p>Nous ne partageons vos données personnelles qu'avec nos services internes. Aucune donnée à caractère personnel ou
        financière n’est transmise à des services tiers.</p>

    <h2>5. Droits des Utilisateurs</h2>

    <p>Vous avez le droit d'accéder à vos données personnelles, de les rectifier, de les supprimer, et de vous opposer à
        leur traitement. Pour exercer ces droits, veuillez nous contacter à <a id="mail"
            href="mailto:contact@sushi-taimu.fr">contact&#64;sushi-taimu.fr</a>.</p>

    <p>En utilisant notre site, vous consentez à la collecte et à l'utilisation de vos données personnelles. Nous nous
        réservons le droit de mettre à jour cette politique à tout moment.</p>

    <h3 id="miseJ">Dernière mise à jour : 11 mars 2024.</h3>
</div>