@font-face {
    font-family: Hiragino;
    src: url("assets/font/Hiragino_Sans.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hiragino';
}

body {
    background: #FEF0E0;
}