#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}

#container-left,
#container-right {
    width: 50%;
}

#container-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-left img {
    width: 65%;
    filter: drop-shadow(0px 4px 25px #00000066);
}

#container-choice {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 2%;
}

ul {
    margin-left: 2vw;
}

h1 {
    color: #333333;
    font-size: 2.5vw;
}

h2 {
    color: #90322B;
    margin-top: 1.5%;
}

#saveurs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#saveurs p {
    margin-top: 2%;
    margin-right: 2%;
    background: #333333;
    color: #FEF0E0;
    padding: 0.5vw 1vw;
    border-radius: 10px;
}

#button-minus,
#button-plus {
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 1.5vw;
    width: 2em;
    height: 2em;
    line-height: 2em;
    user-select: none;
}

#button-minus {
    color: #DC6157;
    background: transparent;
    border: #DC6157 solid 2px;
    margin-right: 2%;
}

#button-plus {
    background: #DC6157;
    color: #FEF0E0;
    border: none;
    margin-left: 2%;
}

#NumberProduit {
    font-size: 1.5vw;
}

#submit {
    margin-top: 2%;
    padding: 0.5vw 1vw;
    background: #DC6157;
    color: #FEF0E0;
    border-radius: 8px;
    border: none;
    font-size: 1.5vw;
    user-select: none;
    cursor: pointer;
}

#submit:disabled {
    background: #48201c;
    cursor: not-allowed;
}

#compo {
    margin-top: 2%;
}

#sav {
    margin-top: 2%;
}

#back {
    border: 1px solid #333333;
    background: transparent;
    width: fit-content;
    margin: 2em 0;
    border-radius: 15px;
    transition: background 250ms ease-in-out;
    margin-left: 2.5%;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em 1em;
}

.text-back {
    color: #333333;
}

#back p:first-child {
    margin-right: 1em;
}

#back:hover {
    background: #fef0e0;
}

#container-top {
    display: flex;
    flex-direction: row;
    position: relative;
}

#cart {
    position: fixed;
    top: 85%;
    left: 92.5%;
    background: #dc6157;
    padding: 1vw 1.1vw;
    border-radius: 50% 50%;
    transition: background 300ms ease-out;
    width: 6vw;
    box-shadow: 0px 4px 28px 0px #0000004d;
    cursor: pointer;
    user-select: none;
}

#cart:hover {
    background: #90322b;
}

#cart img {
    width: 100%;
    height: 100%;
}

#cart p {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -40%;
    color: #dc6157;
    font-size: 1.25vw;
}

@media screen and (min-width:1921px) {
    #MonPrix {
        font-size: 2em;
    }

    #compo,
    ul,
    #sav,
    #saveurs p {
        font-size: 1.7em;
    }

    .text-back {
        font-size: 2em;
    }

    #back {
        border-width: 2px;
    }
}

@media screen and (max-width: 1080px) {
    #container {
        flex-direction: column;
    }

    #container-left,
    #container-right {
        width: 90%;
    }

    #container-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 3.5em;
    }

    #MonPrix {
        font-size: 2.5em;
    }

    #container-price {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 65%;
    }

    #button-minus,
    #button-plus,
    #NumberProduit {
        font-size: 2em;
    }

    #NumberProduit {
        margin: 0 0.7em;
    }

    #submit {
        font-size: 2em;
        border-radius: 12px;
        padding: 1vw 2vw;
    }

    #compo {
        margin-top: 2em;
    }

    #compo,
    ul,
    #sav {
        font-size: 1.75em;
        width: 90%;
    }

    #saveurs p {
        font-size: 1.75em;
    }

    #saveurs {
        flex-direction: row;
        width: 90%;
    }

    #back .text-back:last-child {
        display: none;
    }

    #back .text-back:first-child {
        margin: 0 0.5em;
        font-size: 2em;
    }

    #back {
        border-width: 3px;
    }

    #cart {
        width: 10vw;
        padding: 1.5vw 1.6vw;
        left: 85%;
        top: 92%;
    }

    #cart p {
        font-size: 2vw;
    }
}

@media screen and (max-width: 825px) {
    h1 {
        font-size: 2em;
    }

    #MonPrix {
        font-size: 1.75em;
    }

    #button-minus,
    #button-plus,
    #NumberProduit {
        font-size: 1.7em;
    }

    #NumberProduit {
        margin: 0 0.4em;
    }

    #submit {
        font-size: 1.5em;
    }

    #container-price {
        width: 75%;
    }

    #compo,
    ul,
    #sav {
        font-size: 1.5em;
    }

    #saveurs p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 650px) {

    #cart {
        padding: 1.5vw 1.8vw;
    }
}

@media screen and (max-width: 500px) {

    #back .text-back:first-child {
        font-size: 1.3em;
    }

    h1 {
        font-size: 1.75em;
    }

    #MonPrix {
        font-size: 1.5em;
    }

    #button-minus,
    #button-plus,
    #NumberProduit {
        font-size: 1.3em;
    }

    #submit {
        font-size: 1.3em;
    }

    #container-price {
        width: 90%;
    }

    #compo,
    ul,
    #sav {
        font-size: 1.1em;
    }

    #saveurs p {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 400px) {


    #back .text-back:first-child {
        font-size: 1em;
    }

    #back {
        padding: 0.5em;
        border-width: 2px;
    }

    h1 {
        font-size: 1.4em;
    }

    #MonPrix {
        font-size: 1.2em;
    }

    #button-minus,
    #button-plus,
    #NumberProduit {
        font-size: 1em;
    }

    #submit {
        font-size: 1em;
        border-radius: 10px;
    }

    #container-price {
        width: 95%;
    }

    #compo,
    ul,
    #sav {
        font-size: 0.8em;
    }

    #saveurs p {
        font-size: 0.8em;
        border-radius: 6px;
    }
}